@model Rc_serviceV2.Models.Servicio

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar servicio</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoServicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetallesServicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetallesServicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>

    <form asp-action="Delete" id="deleteForm">
        <input type="hidden" asp-for="IdServicio" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(function () {
            $('#deleteForm').submit(function (e) {
                e.preventDefault(); // Evitar que el formulario se envíe de forma predeterminada

                // Mostrar la alerta de confirmación de SweetAlert
                Swal.fire({
                    title: '¿Está seguro?',
                    text: "Esta acción no se puede deshacer.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Enviar el formulario para eliminar
                        Swal.fire(
                            'Eliminado',
                            'El servicio ha sido eliminado con éxito.',
                            'success'
                        );
                        setTimeout(function () {
                            $('#deleteForm').unbind('submit').submit();
                        }, 2500);
                    }
                });
            });
        });
    </script>
}
