@model IEnumerable<Rc_serviceV2.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="GET" action="@Url.Action("Index")">
    <div class="input-group mb-3">
        <input type="number" class="form-control" name="searchId" placeholder="Buscar por ID" min="0">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetallesServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetallesServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdServicio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdServicio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdServicio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
