@model Rc_serviceV2.Models.Inmueble

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoInmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetallesInmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetallesInmueble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropietariosIdPropietarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropietariosIdPropietarioNavigation.IdPropietario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdInmueble">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
